body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

#save {
  margin-top: 20px;
}

.app-list,
.app-settings {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  margin: 0 0 10px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #4caf50;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.logout-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}


.logout-btn {
  background-color: #ff4d4d;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #cc0000;
}


.app-button:hover {
  background-color: #66bb6a;
}

.app-button.selected {
  background-color: #66bb6a;
}


.create-app-btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.create-app-btn:hover {
  background-color: #66bb6a;
}

.create-app-form {
  margin-top: 20px;
}

.create-app-form form {
  display: flex;
}

.create-app-form input,
.create-app-form button {
  margin-right: 10px;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin: 5px 0;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #66bb6a;
}
